/* For now all css in here. */


/* Competition */
.art{
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding: 30px;
}

.vote-btn{
  margin-top:10px;
}


/* Import Art Form */
form.import-art .import-group{
  display:block;
}
form.import-art .import-group.hidden{
  display:none;
}

