



/* ---- Competition ---- */

.art{
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding: 30px;
}

.art img{
  width:100%;
}

.competition .share-buttons{
  float:left;
  clear:both;
  width:200px;
  overflow:hidden;
}

.competition .share-buttons .SocialMediaShareButton{
  float:left;
  margin-right:4px;
  cursor:pointer;
}

.vote-btn{
  margin-top:10px;
}


/* !---- End Competition ----! */



/* ---- Import Art Form ---- */

form.import-art .import-group{
  display:block;
}

form.import-art .import-group.hidden{
  display:none;
}

/* !---- End Import Art Form ----! */



/* Search Result */

.search-result{
  position:relative;
  text-align:center;
  padding-bottom:50px;
}

.search-result .image-container{
  height:150px;
}

.search-result .image-container img{
  max-height:150px;
}

.search-result h4{
  height:60px;
}

/* !---- End Search Result ----! */



/* Loader */

.Loader{
  overflow:hidden;
}

.Loader__foreground{
  position:fixed;
}
/* -- End Loader ---*/