a{
  color:black;
}

a:visited{
  color:black;
}

p, div {
  font-family: 'Roboto', sans-serif; 
  font-weight:400;
}

h1 {
  font-family: 'Roboto', sans-serif; 
  font-weight:700 !important;
}

.container{
  padding:10px;
  box-sizing:border-box;
  max-width:1500px;
  margin:0 auto;
}

h1.mainTitle{
  text-align:center;
  font-size:40px;
  font-weight:700;
  padding:20px 0;
}

#mainContainer{
  min-height:100%;
  padding-bottom:12rem;
  position:relative;
}

.centered-page{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  margin-top:20px;
}

.centered-page > div{
  width:500px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

