/*
  Cool with these, for now.
  Not targeting css selectors, 
  and these are really base page styles
*/

a{
  color:black;
}

a:visited{
  color:black;
}

p, div {
  font-family: 'Roboto', sans-serif; 
  font-weight:400;
}

h1 {
  font-family: 'Roboto', sans-serif; 
  font-weight:700 !important;
}


/* react-facebook-login doesn't accept style prop...*/
.kep-login-facebook.small{
  width:100%;
}
