/* ---- Competition ---- */

.competition .art{
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
}

.competition .art .imageContainer img{
  max-height:400px;
  max-width: 100%;
  margin:0 auto 5px auto;
  display:block;
  cursor:pointer;
}

.competition .art .imageContainer{
  height:400px;
  display:flex;
  align-items: center;
  justify-content: center;
  
}

.competition .art .artDescription{
  text-align:center;
  font-size:12px;
  line-height:16px;
  margin: 10px auto;
}



.competition .art h3{
  text-align:center;
  margin-top:10px;
  cursor:pointer;  
}

.competition .art .voteButton{
  margin:0 auto;
}

.competition .art .percentages{
  text-align:center;
}

.competition .versusSeparator{
  font-size: 140px;
  font-weight: 700;
  text-align: center;
  margin: 30px auto;

  color: black;
  height: 146px;
  display: block;
  width: 100px;
  padding: 10px;
  border-left: 0;
  border-right: 0;
}

.competition .versusSeparator.small{
   font-size: 40px;
  
}

.artInfo{
  display:none;
}

.artInfo.visible{
  display:block;
  position:absolute;
  background:rgba(0,0,0,0.2);
  left:50px;
  right:50px;
  bottom:50px;
  top:50px;
  z-index:10099;
}

.artInfo.visible .close{
  cursor:pointer;
}

.share-buttons{
  width:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
}
.share-buttons p{
  font-size:20px;
  text-transform:uppercase;
  font-weight:700;
  margin-top:50px;
}

.share-buttons .SocialMediaShareButton{
  text-align:center;
  display:inline-block;
  margin:5px;
  cursor:pointer;
}

.voteButton{
  margin: 30px auto 10px auto !important;
  display: block !important;
}

.close-modal-btn{
  margin: 20px auto 0 auto;
  float:none;
  clear:both;
  display:block;
}

.modal-contents{

  margin:0 auto;
}

.modal-contents > * {
  text-align:center;
}

.modal-contents .winner-name{
  font-style:italic;
}
.modal-contents span.share-prompt{
  display:block;
}

.modal-contents .winner-info span {
  padding:0px 5px;
}

.modal-contents .share-buttons{
  float: none;
  clear: both;
  margin: 5px auto 0 auto;
  width: 144px;
}



/* !---- End Competition ----! */


/* ---- BEGIN COMPETITION BROWSER STYLES ---- */

@media screen and (min-width: 600px){
  .artPair{
    display:flex;
    flex-direction:row;
  }
  
  .competition .art{
    width:auto;
    flex:1;
    width:44%;
    height:460px;
    padding:10px;
  }

  .competition .versusSeparator{
    align-self:center;
    width:13%;
    padding:5px;
  }
  
  .competition .art h3{
    height:40px;
    overflow:hidden;
    text-overflow:ellipsis;
  }
  
  .competition .art .artDescription{
    height:100px;


    padding-top:5px;
  }
  .competition .art .voteButton{
    margin:0 auto;
    max-width:200px;
  }
}


/* ----! END COMPETITION BROWSER STYLES !---- */