

/* ---- Import Art Form ---- */

form.centered-form{
  padding:40px;
  border-bottom:1px solid black;
  display:flex;
  align-items:center;
  flex-direction:column;
}

form.centered-form .fields{
  margin-top:20px;
}


/* !---- End Import Art Form ----! */