
nav.mainMenu{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: black;
  margin-bottom: 50px;
  padding:0;
}

nav.mainMenu ul{
  list-style-type:none;
  padding:0;
  display:flex;
  align-items:center;

}

nav.mainMenu ul li{


}

nav.mainMenu ul li a{
  color:white;  
}
.userMenu{
  margin-left: auto;
}

div.appBar{
  background-color:white !important;
  box-shadow:none !important;
  border-bottom:1px solid black !important;
}

div.appBar h1{
  color:black !important;
}
div.appBar svg{
  color:black !important;
  fill:black !important;
}