/* Alerts */
.ava-alert{
  float:none;
  clear:both;
  color:black;
  padding:5px;
  box-sizing:border-box;
  background:pink;
  border-radius:1px;
}







/*Create Art Form*/
.uploadToS3{
  float:left;
  clear:both;
  padding:20px 20px 20px 0;
}

/*End Create Art Form*/


/* Search Result */

.search-result{
  position:relative;
  text-align:center;
  padding-bottom:50px;
}

.search-result .image-container{
  height:150px;
}

.search-result .image-container img{
  max-height:150px;
}

.search-result h4{
  height:60px;
}

/* !---- End Search Result ----! */



/* --- Loader ---*/

.Loader{
  overflow:hidden;
}

.Loader__foreground{
  position: fixed;
  top: 50%;
  margin-top: -100px;
}

/* !--- End Loader ---! */
