/* Alerts */
.ava-alert{
  float:none;
  clear:both;
  color:black;
  padding:5px;
  box-sizing:border-box;
  background:pink;
  border-radius:1px;
}







/*Create Art Form*/
.uploadToS3{
  float:left;
  clear:both;
  padding:20px 20px 20px 0;
}

/*End Create Art Form*/


/* Search Result */

.search-result{
  position:relative;
  text-align:center;
  padding-bottom:50px;
}

.search-result .image-container{
  height:150px;
}

.search-result .image-container img{
  max-height:150px;
}

.search-result h4{
  height:60px;
}

/* !---- End Search Result ----! */



/* --- Loader ---*/

.Loader{
  overflow:hidden;
}

.Loader__foreground{
  position: fixed;
  top: 50%;
  margin-top: -100px;
}

/* !--- End Loader ---! */

.authFormOverlay{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.541176);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  will-change: opacity;
  transform: translateZ(0px);
  transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  z-index: 1200;
  pointer-events: auto;
  
}

.kep-login-facebook.small{
  width:100%;
}